 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #1f1f1f, #080808); /* Sağ alttan sol üst köşeye gradient arka plan */
  }
  .box {
    border: 2px solid #1d1d1d;
    width: 1000px;
    border-radius: 20px;
    padding: 20px;
    background-color: #1d1d1d;
    text-align: center;
  }
  .box h1 {
    margin-bottom: 20px;
    color: whitesmoke;
  }
  .box a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  .box a:hover {
    background-color: #2974a6;
  }
  .box a img {
    width: 20px;
    height: auto;
    margin-right: 10px;
  }
